@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section{
    @apply mb-16 md:mb-32 ;
  }

  .sectionHeader{
    @apply w-full flex flex-col md:flex-row justify-center md:items-center md:justify-between gap-4 pb-6  ;
  }
   
  .sectionHeading{
    @apply md:w-full sm:w-1/2 text-2xl sm:text-3xl md:text-4xl text-left md:text-left font-extrabold  ;
  }

  .sectionDescription{
    @apply md:w-3/5 w-11/12 text-xs;
  }

  .responsiveHeading{
    @apply text-lg sm:text-2xl md:text-3xl lg:text-4xl;
  }
   
  .fixedNavbar{
    @apply hidden md:flex justify-between w-full px-8 py-4;
  }
  .navbarItem{
    @apply px-2 text-base  transition hover:ease-in-out hover:scale-105 hover:cursor-pointer hover:font-semibold ;
  }

  .navbarButton {
    @apply text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5  
     transition hover:ease-in-out hover:scale-[105%]  hover:shadow-2xl shadow-slate-100 cursor-pointer;
  }

  .navbarButton2{
    @apply px-4 py-2 ml-2 text-white bg-black rounded-full text-md ;
  }
  

  /* services section */
  .services {
    @apply h-full flex flex-col justify-between;
    background: linear-gradient(180deg, #0c0c1d, #111132);
  }
  .services .textContainer {
    @apply flex-1 self-end flex items-center gap-5 self-center text-center flex-col;
  }
  .services .textContainer p {
    @apply font-extralight text-xl text-[gray] text-right;
  }
  .services .textContainer hr {
    @apply w-[500px] w-[300px] border-t-[0.5px] border-t-[gray] border-[none] border-solid;
  }
  .services .titleContainer {
    @apply flex-[2] flex flex-col items-center w-full;
  }
  .services .titleContainer .title {
    @apply flex items-center gap-[50px] flex-col text-center gap-5;
  }
  .services .titleContainer .title img {
    @apply w-[300px] h-[100px] object-cover w-[200px] h-[50px] rounded-[50px];
  }
  .services .titleContainer .title h1 {
    @apply text-8xl font-thin text-4xl;
  }
  .services .titleContainer .title button {
    @apply w-[300px] h-[100px] bg-[orange] text-2xl cursor-pointer text-base w-[150px] h-[50px] rounded-[50px] border-[none];
  }
  .services .listContainer {
    @apply flex-[2] flex max-w-[1366px] flex-col w-full m-auto;
  }
  .services .listContainer .box {
    @apply flex flex-col justify-between items-center gap-5 p-[50px] p-2.5 border-[0.5px] border-solid border-[gray] border-[none];
  }
  .services .listContainer .box p {
    @apply hidden;
  }
  .services .listContainer .box button {
    @apply bg-[orange] cursor-pointer bg-transparent border text-[orange] w-6/12 p-2.5 p-[5px] rounded-[5px] border-[none] border-solid border-[orange];
  }

}
